---

# Set hostname

- name: "Determine if cloud-init config file exists"
  stat:
    path: "/etc/cloud/cloud.cfg"
  register: cloud_cfg

- name: "Prevent cloud-init from changing hostname"
  lineinfile:
    dest: "/etc/cloud/cloud.cfg"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  with_items:
    - regexp: "update_hostname$"
      line: "# - update_hostname"
    - regexp: "update_etc_hosts$"
      line: "# - update_etc_hosts"
  when: cloud_cfg.stat.exists

- name: "Set hostname"
  hostname:
    name: "{{ system_hostname }}"

- name: "Update hosts file"
  lineinfile:
    dest: "/etc/hosts"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  with_items:
    - regexp: "^127.0.0.1"
      line: "127.0.0.1 localhost"
      # The IP 127.0.1.1 is generally used for the FQDN of the machine
      # https://man.archlinux.org/man/hosts.5.en#EXAMPLES
    - regexp: "^127.0.1.1"
      line: "127.0.1.1 {{ system_hostname }}"
